@charset "UTF-8";
html {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
    font-size: 16px;
}

@media all and (min-width: 400px) {
    html {
        font-size: 22px;
    }
}

@media all and (min-width: 600px) {
    html {
        font-size: 32px;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px !important;
}
* {
    box-sizing: border-box;
}

button, input, textarea, select {
    outline: none;
}

button, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.swiper-slide {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;

}
.loading-overlay img {
    width: 10rem;
    height: 10rem;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.up-arrow {
    width: 2rem;
    height: 2rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    z-index: 999;
    background: none;
    border: none;
    padding: 0;
    animation: upArrowAni 2s infinite linear;

}
.up-arrow i {
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    font-size: 1.5rem;
}
@keyframes upArrowAni {
    0% {
        opacity: 0;
        transform: translate3d(-50%, 30%, 0);
    }

    30% {
        opacity: 1;
        transform: translate3d(-50%, -20%, 0);
    }

    60% {
        opacity: 0;
        transform: translate3d(-50%, -35%, 0);
    }

    100% {
        opacity: 0;
        transform: translate3d(-50%, -50%, 0);
    }
}
.btn-music {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 999;
    border: 0.125rem solid #fff;
    border-radius: 50%;
    padding: 0;
}
.music-animation{
    animation: musicAni 3s infinite linear
}
.btn-music i {
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    top: -0.125rem;
    left: -0.125rem;
}
.btn-music paused {
    opacity: 0.4;
    animation: none;
}
@keyframes musicAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.slide-1 {
    background-color: #e88a63;
}
.slide-2 {
    background-color: #5cc2f1;
}
.slide-3 {
    background-color: #9993c1;
}

.item-image img{
    width: 18rem;
    height: 18rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    margin: auto;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
.item-text {
    width: 18rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 24rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}


@font-face {
    font-family: 'my-custom-icon-font';
    src: url('../../fonts/my-custom-icon-font.eot?90099692');
    src: url('../../fonts/my-custom-icon-font.eot?90099692#iefix') format('embedded-opentype'),
    url('../../fonts/my-custom-icon-font.woff?90099692') format('woff'),
    url('../../fonts/my-custom-icon-font.ttf?90099692') format('truetype'),
    url('../../fonts/my-custom-icon-font.svg?90099692#my-custom-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "my-custom-icon-font";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-note:before { content: '\e800'; }
.icon-angle-double-up:before { content: '\e801'; }