/* @override http://www.batman-3d.de/wp-content/themes/vigilant-neu/404.css */

#content.narrowcolumn {
	
}

body {color: #838b94;
background: #000 fixed 50% 0;
}

a:visited{
color: #353c40;
text-decoration:none;
}

a:hover{
color: #d3e7fe;
text-shadow: #fff 0 0 10px;
}

a:active {
color: #fff;
text-decoration:none;
	font-weight: bold;
}

a {
outline:none;
color: #2a3038;
	-webkit-transition-property: color, text-shadow;
    -webkit-transition-duration: 600ms;
    -webkit-transition-timing-function: ease-in-out;
	font: bold 12px "Lucida Grande", Lucida, Verdana, sans-serif;
}

img {
	margin-bottom: 82px;
}

#parallax
    {position:relative; overflow:hidden; width: 1300px; height: 700px;
}


div.error1
    {position:relative;
	width: 1295px;
	height: 695px;

}

div.error2
    {position:relative;
	width: 1000px;
	height: 625px;
}

div.error3
    {position:relative;
	padding-left: 400px;
	padding-top: 120px;
	width: 1000px;
	height: 600px;
}

div.error4
    {position:relative;
	padding-left: 450px;
	padding-top: 160px;
	width: 1150px;
	height: 640px;
}
div.error5
    {position:relative;
	width: 1270px;
	height: 690px;
}

.link {
	text-align: center;
}
.errorinfo{
	color: #fff;
	top: 40%;
	padding: initial;
	position: absolute;
	right: 30%;
	z-index: 99;
}