@charset "gb2312";
/* css */
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #555; background-color: #f6f6f6; line-height: 1.5;  }
img { border: 0; display: block }
ul, li { list-style: none; }
ol{padding-left: 20px !important;}
ol li{ list-style-type:decimal !important;list-style-position:inside !important;} /*显示序号,不能分块显示1,2,3,是连续的1~9~n,初衷不符*/
a { text-decoration: none; color: #555 }
a:hover { text-decoration: none; color: #00A7EB; }
.clear { clear: both; }
.blank { height: 20px; overflow: hidden; width: 100%; margin: auto; clear: both }
.blank100 { height: 100px; overflow: hidden; width: 100%; margin: auto; clear: both }
.f_l { float: left }
.f_r { float: right }
.mt20 { margin-top: 20px }
header { width: 100%; background: rgba(255,255,255,1); }
/*article { width: 65%; margin: 15px auto 0; overflow: hidden }*/
.blogcontainer{ width: 65%; margin: 15px auto 0; overflow: hidden }
.detailcontainer{ width: 60%; margin: 15px auto 0;margin-top: 80px }
.tophead { width: 1200px; margin: 0 auto 10px; overflow: hidden; }
header { position: fixed; top: 0; z-index: 100 }
.container { width: 1140px; margin: 20px auto }
/*nav*/
.logo {margin-top: 15px; float: left; margin-right: 50px; font-size: 20px; }
.logo a { color: #00A7EB }
.menu { height: 56px; line-height: 56px; width: 100%; background-color: #000; }
.nav { height: 56px; width:100%; margin: 0 auto; }
.nav li { float: left; position: relative; }
.nav li a { color: #bdbdbd; padding: 0 20px; display: inline-block; }
.nav li a:hover { color: #fff; }
.nav li .sub-nav { position: absolute; top: 58px; width: 140px; background: #FFF; left: -20px; /* display: none;  */}
.nav li .sub-nav li { clear: left; height: 35px; line-height: 35px; position: relative; width: 200px; padding: 5px 20px }
.nav li .sub-nav li a { font-size: 15px; font-weight: 400; color: #404040; line-height: 28px; }
.nav li .sub-nav li a:hover { color: #000; border-left: 2px solid #000; }
#topnav_current { color: #00A7EB; }
.a_active { color: #00A7EB !important;  }
/*search*/
.search_bar { position: relative; width: 0%; min-width: 56px; height: 56px; margin-right: 20%;float: right; overflow: hidden; -webkit-transition: width 0.3s; -moz-transition: width 0.3s; transition: width 0.3s; -webkit-backface-visibility: hidden; }
.input { position: absolute; top: 15px; right: 0; border: none; outline: none; width: 98%; height: 30px; line-height: 30px; z-index: 10; font-size: 16px; color: #333; padding-left: 5px }
.search_ico, .search_btn { width: 60px; height: 60px; display: block; position: absolute; right: 0; top: 0; padding: 0; margin: 0; line-height: 60px; cursor: pointer; }
.search_ico { background: #000 url(/images/blog/searchbg.png) no-repeat center; z-index: 90; }
.search_open { width: 200px; }
#show { position: absolute; padding: 20px }
/*phone  nav */
#mnav { display: none; width: 100%; position: fixed; top: 0; right: 0; }
.mlogo { color: #00A7EB; line-height: 50px; font-size: 22px; float: left; padding-left: 20px }
#mnav h2 { text-align: right; color: #fff; font-size: 18px; height: 56px; line-height: 40px; width: 100%; background: rgba(0,0,0,1) }
#mnav h2.open { text-align: right; width: 100%; }
#mnav dl { /* display: none; */ background: #000; width: 100%; padding-bottom: 40px }
#mnav .list_dt { line-height: 40px; vertical-align: top; font-size: 16px; display: block; /* overflow: hidden; */ text-align: center; border-bottom: 1px solid #464646; margin: 0 20% }
#mnav h2 .navicon { margin-right: 15px; }
.navicon { display: inline-block; position: relative; width: 30px; height: 5px; background-color: #FFFFFF; }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #FFFFFF; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
/* open */
#mnav h2.open .navicon { background: none }/* hidden */
#mnav h2.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
#mnav h2.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
#mnav h2.open .navicon:before, #mnav h2.open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #FFFFFF; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
#mnav .list_dt a { color: #FFF }
.list_dd { /* display: none; */ }
.list_dd ul li { text-align: center; line-height: 36px; }
.list_dd ul li a { color: #999 }
/*cd-top*/
.cd-top { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);  overflow: hidden; text-indent: 100%; white-space: nowrap; background: #fff url(/images/backtop.png) no-repeat center ; visibility: hidden; opacity: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
.cd-top.cd-is-visible {  visibility: visible; opacity: 1; }
.cd-chat { display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 80px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);  overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(0, 0, 0, 0.8) url(/images/backtop.png) no-repeat center ; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
/*footer*/
footer { width: 100%; background: #333; color: #a5a4a4; text-align: center; /*padding: 20px 0;*/ clear: both;}
footer a { color: #a5a4a4 }
footer .links {
    font-size: 12px;
}
footer .icp span {
    line-height: 24px;
    white-space: nowrap;
}

.icon-aq {
    background-image: url(/images/aq-icon.png);
    padding-left: 18px;
    background-size: 16px 16px;
}
.icon {
    padding-top: 0.02rem;
    padding-bottom: 0.02rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 2px;
    -webkit-background-size: 15px 15px;
    -moz-background-size: 20px 20px;
    -o-background-size: 20px 20px;
    background-repeat: no-repeat;
    transition: background-image .3s;
}
footer img {
    display: inline;
    width: 50px;
}
/* pagelist */
.pagelist { text-align: center; color: #666; width: 100%; clear: both; margin: 20px 0; padding-top: 20px }
.pagelist a { margin: 0 2px; border: 1px solid #000; padding: 5px 10px; }
.pagelist > b { border: 1px solid #000; padding: 5px 10px; }
.curPage { font-weight: bold }
.allpage { }
.loading { width: 100%; height: 100%; text-align: center;}
.loading img {
  display: inline;
  margin-top: 20px;
  -webkit-transform: translateY(-50%)  translateX(-50%);
  transform: translateY(-50%)  translateX(-50%);
}
.search-wrapper {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top:50%;
    left:80%;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    overflow: hidden;
    height: 35px;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    width:315px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    /*border-radius: 50px;*/
    width:215px;
    background: #fff;
    -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width:100%;
    height: 16px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    -webkit-transform: translate(0, 60px);
    -moz-transform: translate(0, 60px);
    transform: translate(0, 60px);
    -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    transform: translate(0, 10px);
}

.search-wrapper .input-holder .search-icon {
     width:38px;
     height:38px;
     border:none;
     border-radius:6px;
     background: black;
     outline:none;
     position: relative;
     z-index: 2;
     float:right;
     cursor: pointer;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }
.search-wrapper.active .input-holder .search-icon {
    width: 35px;
    height:35px;
    margin: 0px;
    /* border-radius: 30px;*/
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);

}
.search-wrapper.active .input-holder .search-icon span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 10px;
    left: 10px;
    top: 18px;
    border-radius: 2px;
    background: #fff;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #fff;
}

.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:5px;
    right:10px;
    width:25px;
    height:25px;
    cursor: pointer;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-35px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FFF;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}
.search-wrapper .result-container {
    width: 100%;
    position: absolute;
    top:80px;
    left:0px;
    text-align: center;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 14px;
    display:none;
    color:#B7B7B7;
}
/*返回顶部*/
.back_to_top .item {
    width: 46px;
    height: 64px;
    position: relative;
    padding-top: 8px;
    color: #999;
    cursor: pointer;
}
.back_to_top .item.backtop .icon {
    font-size: 30px;
}
.back_to_top .item .icon {
    line-height: 30px;
    font-size: 24px;
    text-align: center;
}
.back_to_top .item .icon {
    line-height: 30px;
    text-align: center;
}
.back_to_top .item .text {
    font-size: 12px;
    text-align: center;
    color: #333;
}