blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, table, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}

html, body, .y-wrap {
	width: 100%;
	height: 100%;
}

input {
	border: 0;
	outline: 0;
	font: 12px/1 'Microsoft YaHei' arial,sans-serif;
}

.y-wrap {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	z-index: 1;
}
.y-wrap .y-right {
	float: right;
}

.y-wrap .y-box {
	display: block;
}
.content {
	/*position: relative;*/
	width: 100%;
}

a, a:visited {
	color: #406599;
}

a:visited {
	color: #999;
}

a, button {
	cursor: pointer;
}

.logo-wrap {
	display: inline-block;
	position: absolute;
	top: 16px;
	left: 16px;
	width: 110px;
	height: 27px;
}

.logo-wrap > img {
	width: 100%;
	height: 100%;
}

.slogan-wrap {
	position: absolute;
	left: 50%;
	margin-left: -275px;
	top: 10px;
	width: 550px;
	height: 385px;
}

.slogan-wrap > img {
	width: 100%;
	height: 100%;
}

.loginBox {
	position: absolute;
	top: 240px;
	left: 50%;
	margin-left: -200px;
	border-radius: 5px;
	width: 300px;
	padding: 28px 50px 38px;
	background-color: #fff;
	background-color: rgba(255,255,255,.5);
}

.baseLogin {
	position: relative;
	margin-top: 20px;
}

.input-field {
	position: relative;
	font-size: 16px;
	margin-bottom: 30px;
	color: #666;
}

.input-field > input {
	width: 282px;
	font-size: 16px;
	line-height: 32px;
	height: 32px;
	padding: 4px 8px;
	border: 1px solid #ddd;
	z-index: 1;
	border-radius: 4px;
}

.baseLogin .verification > input {
	width: 170px;
	padding-right: 120px;
	position: relative;
}

.baseLogin .verification .captcha-wrap {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 102px;
	height: 40px;
}

.baseLogin .verification .captcha-wrap .captcha {
	display: block;
	width: 102px;
	height: 40px;
	cursor: pointer;
}
.baseLogin .verification .captcha-wrap .tips-bubble {
	display: none;
	position: absolute;
	top: -35px;
	right: -9px;
	background-color: #444;
	width: 115px;
	text-align: center;
	font-size: 13px;
	color: #fff;
	line-height: 26px;
	padding: 0 2px;
}

.baseLogin .phone-code > input {
	width: 170px;
	padding-right: 120px;
}

.baseLogin .phone-code .code-btn {
	position: absolute;
	top: 0;
	right: 0;
	color: #406599;
	cursor: pointer;
	font-size: 16px;
	width: 122px;
	height: 42px;
	line-height: 42px;
	padding: 0 16px;
	text-align: center;
}

.baseLogin .action {
	font-size: 13px;
	color: #222;
	margin-top: 4px;
	margin-bottom: 24px;
}

.baseLogin .action > input, .baseLogin .action > label {
	vertical-align: middle;
	line-height: 18px;
}

label {
	cursor: pointer;
}

.action-btn {
	color: #fff;
	font-size: 18px;
	line-height: 42px;
	width: 300px;
	text-align: center;
	background-color: #f85959;
	border-radius: 5px;
	cursor: pointer;
}

.baseLogin .sns-login {
	font-size: 0;
	text-align: center;
}

.baseLogin .sns-login .sns:first-child {
	margin-left: 0;
}

.baseLogin .sns-login .sns {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 24px;
	cursor: pointer;
	background-repeat: no-repeat;
}

li {
	list-style: none;
}

.logo-l {
	font-size: 30px;
	line-height: 40px;
	color: #292929;
	float: left;
	height: 45px;
	border-radius: 5px;
}

.register {
	font-size: 18px;
	color: #707070;
	float: right;
}

.reg-a-a {
	margin-bottom: 20px;
}

.register a {
	font-size: 18px;
	line-height: 50px;
	color: #FF4200;
	margin-left: 5px;
	text-decoration: none;
	cursor: pointer;
}

.login-type {
	margin-top: 66px;
}

.geetest_fullpage_click_box {
	margin-left: -38px !important;
	margin-top: 0 !important;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.gray-disable {
	color: #fff;
	cursor: auto;
}
.baseLogin .sns-login {
	font-size: 0;
	text-align: center;
	margin-top: 20px;
}

.baseLogin .sns-login .sns:first-child {
	margin-left: 0;
}

.baseLogin .sns-login .mail-login {
	background-image: url(//s3b.pstatp.com/toutiao/resource/ntoutiao_web/static/image/login/svg/icon_mail_pc_d9c3ec7.svg),none;
}

.baseLogin .sns-login .weibo-login {
	background-image: url(//s3a.pstatp.com/toutiao/resource/ntoutiao_web/static/image/login/svg/icon_weibo_pc_e5a8191.svg),none;
}
.baseLogin .sns-login .github-login {
	background-image: url(/images/github.png),none;
}
.baseLogin .sns-login .qq-login {
	background-image: url(/images/qq.png),none;
}

.baseLogin .sns-login .wechat-login {
	background-image: url(/images/wechat.png),none;
}

.baseLogin .sns-login .sns {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 24px;
	cursor: pointer;
	background-repeat: no-repeat;
}
/*最外层容器样式*/
.wrap {
	position: relative;
	position: absolute;
	right: 5%;
	top: 50px;
	width: 100px;
	height: 100px;
	margin: auto;
	/*改变左右上下,图片方块移动*/

}

/*包裹所有容器样式*/
.cube {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	transform-style: preserve-3d;
	transform: rotateX(-30deg) rotateY(-80deg);
	-webkit-animation: rotate 20s infinite;
	/*匀速*/
	animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.cube div {
	position: absolute;
	width: 100px;
	height: 100px;
	opacity: 0.8;
	transition: all .4s;
}

/*定义所有图片样式*/
.pic {
	width: 100px;
	height: 100px;
}

.cube .out_front {
	transform: rotateY(0deg) translateZ(50px);
}

.cube .out_back {
	transform: translateZ(-50px) rotateY(180deg);
}

.cube .out_left {
	transform: rotateY(90deg) translateZ(50px);
}

.cube .out_right {
	transform: rotateY(-90deg) translateZ(50px);
}

.cube .out_top {
	transform: rotateX(90deg) translateZ(50px);
}

.cube .out_bottom {
	transform: rotateX(-90deg) translateZ(50px);
}

/*定义小正方体样式*/
.cube span {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 25px;
	left: 25px;
}

.cube .in_pic {
	width: 50px;
	height: 50px;
}

.cube .in_front {
	transform: rotateY(0deg) translateZ(25px);
}

.cube .in_back {
	transform: translateZ(-25px) rotateY(180deg);
}

.cube .in_left {
	transform: rotateY(90deg) translateZ(25px);
}

.cube .in_right {
	transform: rotateY(-90deg) translateZ(25px);
}

.cube .in_top {
	transform: rotateX(90deg) translateZ(25px);
}

.cube .in_bottom {
	transform: rotateX(-90deg) translateZ(25px);
}

/*鼠标移入后样式*/
.cube:hover .out_front {
	transform: rotateY(0deg) translateZ(100px);
}

.cube:hover .out_back {
	transform: translateZ(-100px) rotateY(180deg);
}

.cube:hover .out_left {
	transform: rotateY(90deg) translateZ(100px);
}

.cube:hover .out_right {
	transform: rotateY(-90deg) translateZ(100px);
}

.cube:hover .out_top {
	transform: rotateX(90deg) translateZ(100px);
}

.cube:hover .out_bottom {
	transform: rotateX(-90deg) translateZ(100px);
}