<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="partial/layoutAdmin">
<head>
    <title>partner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        .e-card{
            height: calc(100vh - 0px);
            margin:5px;
        }
    </style>
</head>
<body>
<div layout:fragment="content" style="padding:0 30px ;height: calc(100vh - 0px);">
    <el-row>
        <el-col :span="16">
            <el-card class="box-card e-card">
                <div slot="header" class="clearfix">
                    <span>角色列表</span>
                    <el-button size="mini" v-loading="loading" style="float: right"  type="primary" @click="newRole">添加角色</el-button>
                </div>
                <el-table
                        :data="rolelist"
                        style="width: 100%">
                    <el-table-column
                            prop="rolename"
                            label="角色名称"
                            width="100">
                    </el-table-column>
                    <el-table-column
                            prop="comment"
                            label="描述">
                    </el-table-column>
                    <el-table-column fixed="right" label="操作" align="center" width="240">
                        <template slot-scope="scope">
                            <el-button type="primary" @click="editRole(scope.row)" size="mini">编辑</el-button>
                            <el-button type="primary" @click="editAuth(scope.row)" size="mini">分配权限</el-button>
                            <el-button type="danger" @click="removeRole(scope.row)" size="mini">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>
        </el-col>
        <el-col v-if="opeateCode=='auth'" :span="8">
            <el-card class="box-card e-card">
                <div slot="header" class="clearfix">
                    <span>权限分配</span>
                    <span style="float: right" v-if="roleItem.id>0">
                        <el-button size="mini" v-loading="loading"  type="primary" @click="addAuth">{{defaultAction}}</el-button>
                        <el-button size="mini" v-loading="loading" type="primary" @click="cancelAuth">取消</el-button>
                    </span>
                </div>
                <div style="padding: 20px">
                    <div style="margin-bottom: 20px">
                        <el-button size="mini" @click="checkAll">全选</el-button>
                        <el-button size="mini" @click="clearAll">清空</el-button>
                        <el-button size="mini" @click="collapseAll(true)">展开</el-button>
                        <el-button size="mini" @click="collapseAll(false)">收起</el-button>
                    </div>
                    <div class="tree-con" style="max-height:500px;overflow-y: scroll;">
                        <el-tree ref="mycatetree" node-key="id"
                                 :data="data"
                                 @check="treeNodeClick"
                                 :check-on-click-node="true"
                                 :props="treeData"
                                 show-checkbox
                                 :default-expanded-keys="ownmenudata"
                                 :default-checked-keys="ownauthdata"
                                 class="e-tree">
                        </el-tree>
                    </div>
                </div>

            </el-card>
        </el-col>
        <el-col v-else :span="8">
            <el-card  class="box-card e-card">
                <div slot="header" class="clearfix">
                    <span>编辑角色</span>
                </div>
                <el-form label-width="120px">
                    <el-form-item label="角色名称">
                        <el-input placeholder="请输入新名称" v-model="roleItem.rolename" clearable></el-input>
                    </el-form-item>
                    <el-form-item label="描述">
                        <el-input type="textarea" class="article-textarea" :rows="1" placeholder="请输入 描述"
                                  v-model="roleItem.comment" required :maxlength="100" clearable></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button size="mini" v-loading="loading" style="margin-left:10px" type="primary"
                                   @click="addRole">{{defaultAction}}
                        </el-button>
                        <el-button size="mini" @click="clearForm">清空</el-button>
                    </el-form-item>

                </el-form>
            </el-card>
        </el-col>
    </el-row>
</div>
<div layout:fragment="jscontent">
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                loading: false,
                roleItem: {
                    id: 0,
                    rolecode: '',
                    rolename: '',
                    comment: '',
                    createuser: ''
                },
                data: [],
                rolelist: [],
                defaultAction: '保存',
                opeateCode: 'auth',
                treeData: {
                    label: 'name'
                },
                selectdata: [],
                ownmenudata:[],
                ownauthdata:[]
            },
            created() {
                this.getAllRole();
                this.loadCategory();
            },
            methods: {
                getAllRole() {
                    var _this = this;
                    $.ajax({
                        data: {},
                        type: "POST",
                        url: '/role/getrolelist',
                        traditional: true,
                        success: function (result) {
                            if (result.code == 0) {
                                _this.rolelist = result.data;
                            }
                        }
                    })
                },
                removeRole(role) {
                    app.$confirm('确定要[删除]该条记录吗?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        $.ajax({
                            data: {roleId: role.id},
                            type: "POST",
                            url: '/role/deleterole',
                            traditional: true,
                            success: function (result) {
                                app.roleItem.id=0;
                                app.getAllRole();
                                app.$message({
                                    showClose: true,
                                    message: result.msg,
                                    type: 'success'
                                });
                            },
                            error: function (data) {
                                app.roleItem.id=0;
                            }
                        });
                    }).catch(() => {
                        app.roleItem.id=0;
                        app.$message({
                            type: 'info',
                            message: '取消操作'
                        });
                    });
                },
                clearForm() {
                    this.defaultAction = '添加';
                    this.roleItem = {
                        id: 0,
                        rolecode: '',
                        rolename: '',
                        comment: '',
                        createuser: ''
                    };
                },
                addRole() {
                    $.ajax({
                        data: this.roleItem,
                        type: "POST",
                        url: '/role/saverole',
                        traditional: true,
                        success: function (result) {
                            if (result.code == 0) {
                                app.getAllRole();
                                app.clearForm();
                                app.$message({
                                    showClose: true,
                                    message: result.msg,
                                    type: 'success'
                                });
                            } else {
                                app.$message({
                                    showClose: true,
                                    message: result.msg,
                                    type: 'error'
                                });
                            }
                        },
                        error: function (data) {

                        }
                    });

                },
                newRole() {
                    this.opeateCode = "role";
                    this.defaultAction = '保存';
                },
                editRole(row) {
                    this.opeateCode = "role";
                    this.defaultAction = '保存';
                    this.roleItem = {
                        id: row.id,
                        rolecode: row.rolecode,
                        rolename: row.rolename,
                        comment: row.comment,
                        createuser: row.createuser
                    };
                },
                editAuth(row) {
                    this.opeateCode = "auth";
                    this.roleItem.id=row.id;
                    this.getroleauth();
                    this.collapseAll(false);//收起节点
                },
                cancelAuth(){
                    this.roleItem.id=0;
                    this.clearAll()
                },
                loadCategory() {
                    var _this = this;
                    var param = {parentId: 0};
                    $.ajax({
                        data: param,
                        type: "POST",
                        url: "/role/getpermissionlist",
                        success: function (result) {
                            if (result.code == 0) {
                                _this.data = result.data;
                                _this.parentId = 0;
                            }
                        },
                        error: function (data) {
                        }
                    });
                },
                distinct(a) {
                    let arr = a;
                    let result = []
                    let obj = {}
                    for (let i of arr) {
                        if (!obj[i]) {
                            result.push(i)
                            obj[i] = 1
                        }
                    }
                    return result
                },
                treeNodeClick() {
                    this.selectdata = [];
                    var tree = this.$refs.mycatetree;
                    var nodes = tree.store.getCheckedNodes();
                    let menuidArray = nodes.filter(item => item.isoperate==1).map(item => {
                        return item.pid;
                    });
                    menuidArray=this.distinct(menuidArray);
                    for (var i = 0; i < menuidArray.length; i++) {
                        var operateCodeArray = nodes.filter(item => item.pid == menuidArray[i]).map(item => {
                            return item.code;
                        });
                        var menuid = menuidArray[i];
                        var opcode = operateCodeArray.toString();
                        this.selectdata.push({roleid:this.roleItem.id,menuid: menuid, operatecode: opcode})
                    }

                },
                addAuth() {
                    var data=this.selectdata;
                    $.ajax({
                        data: JSON.stringify(this.selectdata),
                        type: "POST",
                        url: '/role/saveauth',
                        dataType:"json",
                        contentType:"application/json",
                        success: function (result) {
                            if (result.code == 0) {
                                app.$message({
                                    showClose: true,
                                    message: result.msg,
                                    type: 'success'
                                });
                            }
                        },
                        error: function (data) {

                        }
                    });
                },
                checkAll(){
                    this.$refs.mycatetree.setCheckedNodes(this.data);
                    this.selectdata = [];
                    var tree = this.$refs.mycatetree;
                    var nodes = tree.store.getCheckedNodes();
                    let menuidArray = nodes.filter(item => item.isoperate==1).map(item => {
                        return item.pid;
                    });
                    menuidArray=this.distinct(menuidArray);
                    for (var i = 0; i < menuidArray.length; i++) {
                        var operateCodeArray = nodes.filter(item => item.pid == menuidArray[i]).map(item => {
                            return item.code;
                        });
                        var menuid = menuidArray[i];
                        var opcode = operateCodeArray.toString();
                        this.selectdata.push({roleid:this.roleItem.id,menuid: menuid, operatecode: opcode})
                    }
                    this.collapseAll(false);//收起节点
                },
                clearAll(){
                    this.$refs.mycatetree.setCheckedKeys([]);
                    this.collapseAll(false);//收起节点
                    this.selectdata=[];
                },
                collapseAll(status){
                    for(var i=0;i<this.$refs.mycatetree.store._getAllNodes().length;i++){
                        this.$refs.mycatetree.store._getAllNodes()[i].expanded=status;
                    }
                },
                getroleauth() {
                    var _this = this;
                    var param = {roleid: _this.roleItem.id};
                    $.ajax({
                        data: param,
                        type: "POST",
                        url: "/role/getroleauth",
                        success: function (result) {
                            if (result.code == 0) {
                                _this.ownmenudata = result.data.ownMenu;
                                _this.ownauthdata = result.data.ownAuth;
                                var tree = _this.$refs.mycatetree;
                                tree.store.setCheckedKeys(_this.ownauthdata);
                            }
                        },
                        error: function (data) {
                        }
                    });
                },
            }
        })
    </script>
</div>
</body>
</html>