<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="warmer.star.blog.mapper.BannerMapper">
    <resultMap id="Banner" type="warmer.star.blog.dto.BannerItem">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="imgSrc" property="imgSrc" jdbcType="VARCHAR"/>
        <result column="sortCode" property="sortCode" jdbcType="INTEGER"/>
        <result column="isShow" property="isShow" jdbcType="INTEGER"/>
        <result column="createOn" property="createOn" jdbcType="TIMESTAMP"/>
        <result column="updateOn" property="updateOn" jdbcType="TIMESTAMP"/>
        <result column="linkUrl" property="linkUrl" jdbcType="VARCHAR"/>
        <result column="isDeleted" property="isDeleted" jdbcType="INTEGER"/>
     </resultMap>
    
    <sql id="Base_Column_List">
		a.id,a.title,a.imgSrc,a.sortCode,a.isShow,a.createOn,a.updateOn,a.linkUrl,a.isDeleted
	</sql>
	<sql id="Where_Clause" >
	    <where >
	        a.isDeleted =0	 
	     	<if test="title!= null">
	      		and a.title like concat('%',#{title},'%')
	      	</if>
	      	
	    </where>
	 </sql>
    <!--分页获取文章-->
    <select id="getBannerList" resultMap="Banner">
        select 
        <include refid="Base_Column_List" />
        from Banner a 
       <include refid="Where_Clause" />
       <choose>
           <when test="sortCode ==0" >
             order by a.updateOn asc 
           </when>
           <when test="sortCode == 1" >
             order by a.updateOn desc 
           </when>
        </choose>
    </select>
    <select id="getById" resultMap="Banner">
        select 
        <include refid="Base_Column_List" />
        from Banner a
        where a.id= #{bannerId} and a.isDeleted =0	 
    </select>
     <insert id="saveBanner">
		  insert into banner (title,imgSrc,sortCode,isShow,linkUrl,isDeleted,createOn,updateOn)
		  values (#{title},#{imgSrc},#{sortCode},#{isShow},#{linkUrl},#{isDeleted},#{createOn},#{updateOn})
	</insert>
	<update id="updateBanner">
		  update Banner
		  <set>
			  <if test="title!= null and title !=''">
			      	title = #{title},
			  </if>
			  <if test="imgSrc!= null and imgSrc !=''">
			  		imgSrc = #{imgSrc},
			  </if>
			  <if test="sortCode!= null and sortCode !=''">
		  			sortCode=#{sortCode},
			  </if>
			   <if test="isShow!= null and isShow !='' ">
		  			isShow=#{isShow},
			  </if>
			  <if test="linkUrl!= null and linkUrl !=''">
			  		linkUrl=#{linkUrl},
			  </if>
			  <if test="isDeleted!= null and isDeleted !=''">
			  		 isDeleted=#{isDeleted},
			  </if>
			  <if test="createOn!= null">
			  		createOn=#{createOn},
			  </if>
			  <if test="updateOn!= null">
			  		updateOn=#{updateOn},
			  </if>
		  </set>
			where id = #{id}
	</update>
	<update id="deleteBanner">
		  update Banner set  isDeleted=1,updateOn=NOW() where id = #{bannerId}
	</update>
</mapper>
