<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="warmer.star.blog.mapper.CommentMapper">
	<resultMap id="commentmodel" type="warmer.star.blog.model.Comment">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="useruuid" property="useruuid" jdbcType="INTEGER"/>
        <result column="touseruuid" property="touseruuid" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="userip" property="userip" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
		<result column="createtime" property="createtime"/>
		<association property="userItem" column="useruuid" jdbcType="INTEGER" select="warmer.star.blog.mapper.UserMapper.getUserById"/>
		<association property="toUserItem" column="touseruuid" jdbcType="INTEGER" select="warmer.star.blog.mapper.UserMapper.getUserById" />
	</resultMap>
    <select id="getCommentList" resultMap="commentmodel">
        select * from comment where uuid=#{uuid} and pid=0 order by createtime desc
    </select>
	<select id="getChildComment" resultMap="commentmodel">
        select * from comment where uuid=#{uuid} and pid=#{pid}
    </select>
     <insert id="saveComment" parameterType="warmer.star.blog.model.Comment">
		  insert into comment (pid,uuid,useruuid,touseruuid,content,userip,status,createtime)
		  values (#{pid},#{uuid},#{useruuid},#{touseruuid},#{content},#{userip},1,#{createtime})
		  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	          SELECT LAST_INSERT_ID()
	      </selectKey>
	</insert>
	<update id="updateComment">
		  update comment
		  <set>
			  content = #{content}
		  </set>
			where id = #{id}
	</update>
	<update id="deleteComment">
		  update comment set status=0  where id = #{commentId}
	</update>
</mapper>
