<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="warmer.star.blog.mapper.RolePermissionMapper">
	<resultMap id="RolePermissionmodel" type="warmer.star.blog.model.RolePermission">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="roleid" property="roleid" jdbcType="INTEGER"/>
        <result column="permissionid" property="permissionid" jdbcType="INTEGER"/>
        <association property="permission" column="permissionid" jdbcType="INTEGER" resultMap="permission"/>
    </resultMap>
    <resultMap id="permission" type="warmer.star.blog.model.Permission">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="menuid" property="menuid" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getRolePermission" parameterType="Integer" resultMap="RolePermissionmodel">
        SELECT rp.roleid,rp.permissionid,p.menuid,p.code,p.name,p.url from rolepermission rp
        left join  permission p on rp.permissionid=p.id  where rp.roleid = #{roleId}
    </select>
    <select id="getAuthOperateList" resultType="map">
		SELECT id,code,name,comment FROM authoperate
	</select>
    <insert id="savePermission" parameterType="java.util.List" >
        insert into rolepermission (roleid,permissionid)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleid},#{item.permissionid})
        </foreach>
    </insert>
    <delete id="deletePermission" parameterType="java.util.List">
		  delete from rolepermission where roleid  in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
	</delete>
</mapper>
