<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="warmer.star.blog.mapper.RolePermissionMapper">
	<resultMap id="RolePermissionmodel" type="warmer.star.blog.model.RolePermission">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="roleid" property="roleid" jdbcType="INTEGER"/>
        <result column="menuid" property="menuid" jdbcType="INTEGER"/>
        <result column="operatecode" property="operatecode" jdbcType="VARCHAR"/>
        <association property="menuItem" column="menuid" jdbcType="INTEGER" resultMap="permission"/>
    </resultMap>
    <resultMap id="permission" type="warmer.star.blog.model.Menu">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="createon" property="createon" jdbcType="TIMESTAMP"/>
        <result column="updateon" property="updateon" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="getRolePermission" parameterType="Integer" resultMap="RolePermissionmodel">
        SELECT rp.roleid,rp.menuid,rp.operatecode,p.id,p.code,p.name,p.url from rolepermission rp
        left join  menu p on rp.menuid=p.id  where rp.roleid = #{roleId}
    </select>
    <select id="getAuthOperateList" resultType="map">
		SELECT id,code,name,comment FROM authoperate
	</select>
    <insert id="savePermission" parameterType="java.util.List" >
        insert into rolepermission (roleid,menuid,operatecode)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleid},#{item.menuid},#{item.operatecode})
        </foreach>
    </insert>
    <delete id="deletePermission" parameterType="java.util.List">
		  delete from rolepermission where roleid  in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
	</delete>
</mapper>
