<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="warmer.star.blog.mapper.UserRoleMapper">

	<resultMap id="userrole" type="warmer.star.blog.model.UserRole">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="roleid" property="roleid" jdbcType="INTEGER"/>
        <collection property="menus" column="roleid" javaType="ArrayList"   select="warmer.star.blog.mapper.RolePermissionMapper.getRolePermission"></collection>
    </resultMap>
    
    <select id="getUserRole" parameterType="Integer" resultMap="userrole">
        SELECT * from userrole where userid = #{userId}
    </select>
    <insert id="saveUserRole" parameterType="java.util.List" >
        insert into userrole (userid,roleid)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userid},#{item.roleid})
        </foreach>
    </insert>
    <delete id="deleteUserRole" parameterType="java.util.List">
        delete from userrole where userid =#{userId}
    </delete>
</mapper>
