<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="partial/layout" lang="zh">
<head>
<style type="text/css">
.action-icon{
    font-size: 12px;
    padding: 0 0 0 20px;
    margin: 0 15px 0 0;
    color: #748594;
    line-height: 1.5;
    display: inline-block;
}
.action-icon-view{
   background: url(/images/blog/auicon.jpg) no-repeat top -64px left;float: left;
}
.action-icon-time{
   background: url(/images/blog/auicon.jpg) no-repeat top -44px left;
}
.label {
    display: inline;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 5px;
    border-radius: 8px;
}
.label-success {
    background-color: #5cb85c;
}
.label-warn {
    background-color: rgba(255, 69, 0, 1);
}
</style>
</head>
<body>
	<div layout:fragment="main">
		<!--banner begin-->
		<div class="picsbox">
			<el-carousel :interval="3000" arrow="always">
			    <el-carousel-item v-for="banner in bannerList" :key="banner.id">
		     		<a :href="banner.linkUrl">
					  <img :src="banner.imgSrc" alt="个人博客" data-bd-imgshare-binded="1"> 
					</a>
					<span class="imginfo">{{banner.title}}</span>
			    </el-carousel-item>
			  </el-carousel>
		</div>
		<div class="blank"></div>
		<!--blogsbox begin-->
		<div class="blogsbox">
			<div class="blogs" v-for="item in articleList">
				<h3 class="blogtitle">
					<a :href="['/detail/'+item.id]" target="_blank" v-html="item.title">{{item.title}}</a>
				</h3>
				<span v-if="item.showStyle==1" class="blogpic"><a :href="['/detail/'+item.id]"
					:title="item.title"><img :src="item.coverImageList[0]" alt=""></a></span> <span
					v-else-if="item.showStyle==2" class="bplist">
					<ul v-if="item.coverImageList">
						<li v-for="img in item.coverImageList"><a :href="['/detail/'+item.id]" :title="item.title"><img
								:src="img" alt=""></a></li>
					</ul>
				</span> <span v-else-if="item.showStyle==3" class="bigpic"><a
					:href="['/detail/'+item.id]" :title="item.title" target="_blank"><img :src="item.coverImageList[0]" alt=""></a></span>
				<p class="blogtext" v-html="item.abstractContent">{{item.abstractContent}}</p>
				<div class="bloginfo">
					<ul>
					    <li><a href="/" v-if="item.articleType"><span class="label label-warn">转载</span></a><a href="/" v-else><span class="label label-success">原创</span></a></li>
						<li class="author"><a href="/">{{item.author}}</a></li>
						<li class="lmname"><a href="/">{{item.categoryName}}</a></li>
						<li class="timer">{{item.createTime}}</li>
						<li class="view"><span>{{item.showCount}}</span>已阅读</li>
						<li class="like">9999</li>
					</ul>
				</div>
			</div>
			<div class="loading" v-show="loading">
				<img th:src="@{/images/loading.gif}" alt="loading" />
			</div>
			<div v-show="!showMore" style="text-align: center;">这个人很懒,只写了这么多</div>
		</div>
		<!--blogsbox end-->
		<div class="sidebar">
			<div class="zhuanti">
				<h2 class="hometitle">特别推荐</h2>
				<ul v-if="recommendArticlelist">
					<li v-for="article in recommendArticlelist">
						<i v-if="article.coverImageList"><img :src="article.coverImageList[0]"></i>
						<p>
							{{article.title}} <span><a :href="['/detail/'+article.id]" target="_blank">阅读</a></span>
						</p>
					</li>
					
				</ul>
			</div>
			<div class="tuijian">
				<h2 class="hometitle">推荐文章</h2>
				<ul class="sidenews" v-if="topReadArticlelist">
					<li v-for="article in topReadArticlelist">
						<i v-if="article.coverImageList"><img :src="article.coverImageList[0]"></i>
						<p>
							<a :href="['/detail/'+article.id]" target="_blank">{{article.title}} </a>
						</p> 
						<span class="action-icon action-icon-view">{{article.showCount}}</span>
						<span class="action-icon action-icon-time" style="display: inline-block;">{{article.createTime}}</span>
					</li>
					
				</ul>
			</div>
			<div class="cloud">
				<h2 class="hometitle">标签云</h2>
				<ul v-if="tagList">
					<a v-for="tag in tagList" href="javascript:void(0);" @click="tagClick">{{tag.value}}</a>
					
				</ul>
			</div>
			<div class="links">
				<h2 class="hometitle">友情链接</h2>
				<ul v-if="partnerList">
					<li v-for="partner in partnerList"><a :href="partner.siteUrl" :alt="partner.siteDesc" target="_blank">{{partner.siteName}}</a></li>
				</ul>
			</div>
			<!-- 设置固定关注我们 -->
			<div th:include="partial/focus::focus"></div>
		</div>
	</div>
	<div layout:fragment="js">
		<script type="text/javascript">
    var initData=function initData() {
    	var _this=this;
    	// 开始加载数据，就不能再次触发这个函数了
    	_this.scrollDisable = true;
    	_this.loading=true;
        var param = this.queryForm;
       // debugger;
        $.ajax({
            type: "POST",
            url: "/getArticlelist",
            //url: "/getEsArticlelist",//启用es时用这个
            data: param,
            success: function (result) {
            	//debugger;
                if (result.code==0) {
                	//debugger;
                	//var resultCount=result.data.recordList.length;//启用es时用这个
                	var resultCount=result.data.rows.length;
                	if(resultCount>0){
                		setTimeout(function() {
                    		_this.loading=false;
                    		//_this.articleList = _this.articleList.concat(result.data.recordList);//启用es时用这个
                    		_this.articleList = _this.articleList.concat(result.data.rows);
               	     	}, 1000)
                	}
                	_this.showMore=resultCount==_this.queryForm.pageSize?true:false;
                }
                // 插入数据完成后   
                _this.scrollDisable = false;
            }
        });
       
    }
    var getTopReadArticleList=function initData() {
    	var _this=this;
        $.ajax({
            type: "POST",
            url: "/getTopReadArticleList",
            data: {},
            success: function (result) {
                if (result.code==0) {
                	var resultCount=result.data.length;
                	if(resultCount>0){
                		_this.topReadArticlelist=result.data;
                	}
                }
            }
        });
       
    }
    var getRecommendArticleList=function initData() {
    	var _this=this;
        $.ajax({
            type: "POST",
            url: "/getRecommendArticlelist",
            data: {},
            success: function (result) {
                if (result.code==0) {
                	var resultCount=result.data.length;
                	if(resultCount>0){
                		_this.recommendArticlelist=result.data;
                	}
                }
            }
        });
       
    }
    var initTagList=function(){
    	var _this=this;
    	$.ajax({
            type: "POST",
            url: "/getTaglist",
            data: {},
            success: function (result) {
                if (result.code==0) {
                	var resultCount=result.data.length;
                	if(resultCount>0){
                		_this.tagList=result.data;
                	}
                }
            }
        });
	}
    var initScrollRevealOption=function(){
    	this.scrollReveal.reveal('.blogs', {
     	        duration: 500,//动画的时长
     	        delay:200,//延迟时间
     	        origin: 'bottom',//动画开始的位置，'bottom', 'left', 'top', 'right'
     	        reset:true,//回滚的时候是否再次触发动画
     	        mobile: false,//在移动端是否使用动画
     	        distance:'10px',//滚动的距离，单位可以用%，rem等
     	        opacity:0.001,//其他可用的动画效果
     	        easing:'linear',
     	        scale: 1
     	    });
    }
    var initBanner=function(){
    	var _this=this;
    	 $.ajax({
             type: "POST",
             url: "/getBannerlist",
             data: {},
             success: function (result) {
                 if (result.code==0) {
                 	var resultCount=result.data.rows.length;
                 	if(resultCount>0){
                 		_this.bannerList=result.data.rows;
                 	}
                 }
             }
         });
    }
    var initPartner=function(){
    	var _this=this;
    	 $.ajax({
             type: "POST",
             url: "/getPartnerlist",
             data: {},
             success: function (result) {
                 if (result.code==0) {
                 	var resultCount=result.data.length;
                 	if(resultCount>0){
                 		_this.partnerList=result.data;
                 	}
                 }
             }
         });
    }
    var app = new Vue({
    	  el: '#app',
    	  data: {
    		queryForm:{
    			pageIndex: 1,
         	    pageSize: 10,
         	    title:''
    		},
    		showMore:true,
    		loading:true,
    	    articleList:[],
    	    topReadArticlelist:[],
    	    recommendArticlelist:[],
    	    bannerList:[],
    	    scrollReveal:ScrollReveal(),
    	    scrollDisable :false,
    	    scrollTop:0,
    	    defaultfollowUsPosition:0,
    	    followUsPosition:0,
    	    partnerList:[],
    	    tagList:[]
    	  },
    	  mounted() {
    		   // 缓存指针  
              let _this = this;  
              _this.initScrollRevealOption();
              _this.defaultfollowUsPosition=this.$refs.followUs.offsetTop;
              // 注册scroll事件并监听  
		      window.addEventListener('scroll', ()=> {
        		var scrollTop = document.documentElement.scrollTop;
                _this.scrollTop=scrollTop;
                
        		 if(scrollTop + window.innerHeight >= document.body.clientHeight) {
                	if(!_this.scrollDisable) {
                		if(_this.showMore){
  	                  	  _this.initData(); 
  	                  	  _this.queryForm.pageIndex=_this.queryForm.pageIndex+1;
  	                  	  _this.initScrollRevealOption();
  	                 }
                	}
		        }
        		 console.log(_this.queryForm.pageIndex);
        		 var followUsPosition = this.$refs.followUs.offsetTop;
        		 _this.defaultfollowUsPosition=followUsPosition;
        		
        		 if(scrollTop<=_this.defaultfollowUsPosition ){
         			 _this.followUsPosition=_this.defaultfollowUsPosition;
         		 }
		      })
		      
    	  },
    	  created(){
    		  this.initData(); 
    		  this.initBanner();
    		  this.getRecommendArticleList();
    		  this.getTopReadArticleList();
    		  this.initPartner();
    		  this.initTagList();
    		  this.queryForm.pageIndex=this.queryForm.pageIndex+1;  
    	  },
   	 	  methods:{
   	 		initData:initData,
   	 	    initScrollRevealOption:initScrollRevealOption,
   	 	    initBanner:initBanner,
   	 	    initPartner:initPartner,
   	 	    initTagList:initTagList,
   	 		getTopReadArticleList:getTopReadArticleList,
   	 		getRecommendArticleList:getRecommendArticleList,
   	 	    backToTop(){
   	 	      document.body.scrollTop = 0;
   	 	      document.documentElement.scrollTop = 0;
   	 	    },
   	 	    tagClick(){
   	 	    	
   	 	    }
   	 	  }
    	})
    </script>
	</div>
</body>
</html>